#### SETUP NOTE:
## When deploying your own rails app, copy this file
## as /config/aws_keys.yml and fill in your API keys below
development: &development
  access_key_id: "1234"
  secret_access_key: "5678"
  account_id: "123456789"
  identity_pool_id: "us-east-1:abcd1234"
  region: "us-east-1"

test: &test

production: &production
  <<: *development
